doctype html
html
    head
    body
        h1 Sample Example
        hr

        div
            a(href="/test1") Go To Test1
        div
            a(href="/test2") Go To Test2



        ul
            li maxAge: 쿠키의 만료 시간을 밀리초 단위로 설정 -- 얼마의 시간 있다가 만료될지
            li expires: 쿠키의 만료 시간을 표준 시간 으로 설정 -- 정확히 언제 만료될지 설정
            li path: 쿠키의 경로 (default: /) - 어디 path에서 나타날 수 있는 쿠키인가
            li domain: 쿠키의 도메인 이름 (default: loaded)
            li secure: HTTPS 프로토콜만 쿠키 사용 가능
            li httpOnly: HTTP 프로토콜만 쿠키 사용 가능
            li signed: 쿠키의 서명 여부를 결정
            li sameSite: 쿠키의 정책 - 좀 더 연구 필요 .....